{%- liquid
  assign default_title = 'customer.recover_password.title' | t
  assign title = title | default: default_title
  assign email_error_message = 'customer.error_messages.email_error_message' | t
-%}

<form-validation
  class="
    grid-cols-1 lg:max-w-[442px] mx-auto grid transition-opacity duration-300 opacity-100
    [&:not(.show)]:hidden [&:not(.show)]:opacity-0 z-0 [&:not(.show)]:-z-10
  "
  data-form-type="recover"
>
  <div class="form-header text-center mb-24 ">
    <h1 class="mb-24 font-heading text-32 leading-32 tracking-0.5">{{- title -}}</h1>
    <p>
      <span class="body-3 text-grey-600">{{- 'customer.recover_password.subtitle' | t -}}</span>
    </p>
  </div>

  {% form 'recover_customer_password' %}
    {%- if form.errors -%}
      <ul class="grid grid-cols-1 lg:col-start-1 lg:col-end-3">
        {%- for field in form.errors -%}
          <li class="bg-grey py-8 px-16 label-text flex items-center flex-1-0-auto rounded-4 mb-16 gap-8">
            <div class="flex justify-center items-center bg-error rounded-[50%] w-32 h-32 flex-grow-0 flex-shrink-0 basis-auto">
              {%- render 'icon_v2', icon: 'warning-icon', class: '[&_path]:stroke-white' -%}
            </div>

            <span class="[&_a]:underline">
              {%- if field == 'form' -%}
                {{- form.errors.messages[field] -}}
              {%- else -%}
                <a
                  href="#RegisterForm-{{- field -}}"
                  class="underline"
                >
                  <span>{{- form.errors.translated_fields[field] | capitalize -}}</span>
                  <span>{{- form.errors.messages[field] -}}</span>
                </a>
              {%- endif -%}
            </span>

            <button
              type="button"
              class="block w-12 h-12 ml-auto flex-grow-0 flex-shrink-0 basis-auto"
              data-hide-default-error
            >
              {%- render 'icon_v2', icon: 'cross' -%}
            </button>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    <input
      type="hidden"
      name="return_to"
      value="{{- routes.account_login_url |  append: '#recover-success' -}}"
    >
    <div class="input-wrapper dark col-span-2">
      <input
        type="email"
        name="email"
        id="customer-email-{{- section.id -}}"
        autocomplete="email"
        autocorrect="off"
        autocapitalize="off"
        {% if form.errors contains 'form' %}
          aria-invalid="true"
        {% endif %}
        placeholder="{{- 'customer.login_page.email' | t -}}"
        class="input"
        required
        pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
      >
      <label
        for="customer-email-{{- section.id -}}"
        class="input-label"
      >
        {{- 'customer.login_page.email' | t -}}
      </label>
      {%- render 'warning-message-box', text: email_error_message -%}
    </div>

    <button
      type="submit"
      class="button button--primary !w-full max-w-full mt-16 lg:mt-32 col-span-2"
    >
      {{- 'customer.recover_password.submit' | t -}}
    </button>

    <a
      href="{{- routes.account_login_url -}}"
      class="body-3 font-normal font-heading text-black-200 flex gap-8 items-center uppercase mt-32 tracking-0.5 mx-auto w-max"
    >
      {% render 'icon_v2', icon: 'back-to-arrow' %}
      <span>{{- 'customer.recover_password.back_to_login' | t -}}</span>
    </a>
  {% endform %}
</form-validation>
